:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*filme principal*/
body{
    background: var(--preta);
    font-family:'Times New Roman', 'Times', 'Serif';
    color:#fff;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times';
    font-size: 40px;
   
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

.filme-principal{
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("https://www.rbsdirect.com.br/imagesrc/17239157.jpg?w=700");
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao{
    background: rgba(0, 0, 0, .50);
    border: none;
    color: #fff;
    padding:16px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 2s ease all;
}

.botao:hover{
    background-color:#fff;
    color: #141414;

}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 20%;
    width: 20%;
    display: block;
}